body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.myColumn {
    float: left;
    width: 33.33%;
}

.myRow:after {
    content: "";
    display: table;
    clear: both;
}

.inventory-bg {
    background-image: url("../Photos/equipment.jpg");
    display: flex;
    flex-direction:row;
    width: 11rem;
    height: 18rem;
}

.rightColumn {
    display: flex;
    flex-direction: column;
}

.middleColumn {
    display: flex;
    flex-direction: column;
}
.leftColumn {
    display: flex;
    flex-direction: column;
}

.weapon {
    padding-left: 1%;
    padding-top: 200%;
    height: 3rem;
}

.helmet {
    padding-left: 10%;
    padding-top: 5%;
    height: 3rem;
}

.chestplate {
    padding-left: 10%;
    padding-top: 4%;
    height: 3rem;
}

.leggings {
    padding-left: 10%;
    padding-top: 5%;
    height: 3rem;
}

.boots {
    padding-left: 10%;
    padding-top: 160%;
    height: 3rem;
}


.body-background {
    background: url("https://www.trueachievements.com/customimages/071339.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


